.cart-dropdown {
    position: absolute;
    width: 270px; 
    height: 370px; 
    display: flex; 
    flex-direction: column;
    padding: 20px; 
    border: 1px solid black; 
    background-color: white;
    top: 80px; 
    right: 100px; 
    z-index: 5; 

    .empty-message {
        font-size: 18px; 
        margin: 50px auto; 
    }

    .cart-items {
        height: 300px; 
        display: flex; 
        flex-direction: column;
        
    }
    .overflow {
        overflow: scroll
    }


    button {
        margin-top: auto; 
    }
}