.cart-icon {
     
   
    width: 45px;
    height: 50px; 
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 2px; 

    .shopping-icon {
        width: 26px; 
        height: 26px; 
    }

    .item-count {
        position: absolute;
        font-size: 10px;
        font-weight: bold; 
        bottom: 14px; 
    }

}