.header {
    height: 90px; 
    width: 94%;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 25px;
    margin: 0 auto; 

    .logo-container {
        height: 200px; 
        width: 50%; 

        img {
            height: 85px; 
            width: 170px;   
        }
    }

    .options {
        width: 50%;
        height: 100%; 
        display: flex;
        align-items: center;
        justify-content: flex-end;
        

        .option {
            margin-bottom: 5px; 
            padding: 12px 15px; 
            cursor: pointer; 

           
        }

         button {
                background-color: white; 
                color: rgba(82, 101, 117, 0.856);
                border-radius: 5px;
                border: 1px solid rgba(82, 101, 117, 0.856);

                &:hover {
                    background-color: rgb(93, 191, 216); 
                    color: white; 
                    border: none; 

                }
             
            }

            .sign-in-link {
                background-color: white; 
                color: rgba(52, 67, 80, 0.856);
                border-radius: 5px;
                border: 1px solid rgb(82, 101, 117);

                &:hover {
                    background-color: rgb(93, 191, 216); 
                    color: white; 
                    border: none;
                }
                
            }
        
        
    }
}